{% extends "base.html" %}
{% load static %}
{% block extra_title %}Shopping Bag{% endblock %}

{% block content %}
<!--header with white background and black elements -->
<header>
    {% include 'includes/simple-navbar.html' %}
</header>

<!--Banner Section-->
<section>
    {% include 'includes/banner.html' %}
</section>

<section>
    <!--Main content-->
    <div class="container-fluid">

        <!--Breadcrumbs to facilitate navigation -->
        {% include 'bag/includes/breadcrumbs.html' %}

        <div class="row">
            <div class="col text-center my-3">
                <h2 class="heading-font heading-item pb-2">Shopping Bag</h2>
            </div>
        </div>
        <!-- Layout and functionality from boutique ado project to be modified and adapted to this project -->
        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div>
                        {{ bag_items }}
                    </div>
                {% else %}
                    <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>

    </div>
</section>
{% endblock %}
