{% extends "base.html" %}
{% load static %}

{% block content %}
    
    <!-- Masthead costumised from bootstrap template-->
        <header class="masthead text-center">
            <div class="container-fluid home-image-container">
                
                <div class="row h-100 align-items-center justify-content-center">
                    <div class="col-12">
                        <div class="container heading-bg py-5 px-3">
                            <!-- Masthead Heading-->
                            <h1 class="masthead-heading display-1 text-uppercase grad-grey signature-font mb-3">Sandra</h1>
                            <!-- Masthead Subheading-->
                            <h3 class="masthead-subheading heading-font mb-0">Modern Impressionist Artist</h3>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Gallery Section-->
        <section class="page-section gallery">
            <div class="container">
                <!-- Gallery Section Heading-->
                <div class="row">
                    <div class="col">
                        <h2 class="page-section-heading text-center text-uppercase gold heading-font mb-5">Gallery</h2>
                    </div>
                </div>
                <!-- Gallery Grid Items-->
                <div class="row justify-content-center">
                    <!-- Gallery Item 1-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="gallery-item mx-auto px-lg-5" >
                            <img class="img-fluid" src="{% static 'angel.jpg' %}" alt="angel" />
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-dark">
                                    <p class="item-title">Angel</p>
                                    <p class="blockquote">€600</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Gallery Item 2-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="gallery-item mx-auto px-lg-5" >
                            <img class="img-fluid" src="{% static 'imperatriz.jpg' %}" alt="empress" />
                            <div class="gallery-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content display-5 text-center text-dark">
                                    <p class="blockquote">Empress</p>
                                    <p class="blockquote">€780</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Gallery Item 3-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="gallery-item mx-auto px-lg-5" >
                            <img class="img-fluid" src="{% static 'culpa.png' %}" alt="guilt" />
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-dark">
                                    <p class="blockquote">Guilt</p>
                                    <p class="blockquote text-mute">Sold</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        <!-- About Section-->
        <section class="page-section bg-white darkgrey mb-0" id="about">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase grey">About</h2>
                <!-- About Section Content-->
                <div class="row">
                    <div class="col-lg-4 ml-auto"><p class="lead">Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p></div>
                    <div class="col-lg-4 mr-auto"><p class="lead">You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!</p></div>
                </div>
                <!-- About Section Button-->
                <div class="text-center mt-4">
                    <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/theme/freelancer/">
                        <i class="fas fa-download mr-2"></i>
                        Free Download!
                    </a>
                </div>
            </div>
        </section>
{% endblock %}