<div class="row mt-3">
    <div class="col-12">
        <!-- Breadcrumbs to facilitate navigation - with links to previous pages -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}" class="breadcrumbs-text  darkgrey pl-2">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'products' %}" class="breadcrumbs-text  darkgrey">Gallery</a></li>
                {% for collection in selected_collection %}
                    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'products' %}?collection={{ collection.name }}" 
                class="breadcrumbs-text  darkgrey">{{ collection.friendly_name }}</a>
                    </li>
                {% endfor %}
            </ol>
        </nav>
    </div>
</div>