* {
  padding: 0;
  border: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* from bootstrap template */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: 'Roboto', sans-serif;
    color: black;
}

/*--- colours ---*/
.grad-grey {
    background: rgb(245, 241, 241);
    background: -webkit-linear-gradient(to top left, rgb(245, 241, 241) 0%, #393a39 100%);
    background: -moz-linear-gradient(to top left, rgb(245, 241, 241) 0%, #393a39 100%);
    background: linear-gradient(to top left, rgb(245, 241, 241) 0%, #393a39 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} /* code from cssportal.com */


.gold {
    color: #BFAA8F !important;
}

.bg-gold {
    background-color: hsl(34, 27%, 65%) !important;
}

.darkgold {
    color: #73614C !important;
}

.brown {
    color: #40352C !important;
}

.pink {
    color: #BF88B0 !important;
}

.offwhite {
    color: #D5EAF2 !important;
}

.bg-offwhite {
    background-color: #D5EAF2 !important;
}

.black {
    color: #242625 !important;
}

.bg-black {
    background-color: #242625 !important;
}

.white {
    color: rgb(242, 242, 242) !important;
}

.lightgrey {
    color: #D9D9D9 !important;
}

.bg-lightgrey {
    background-color: #D9D9D9 !important;
}

.grey {
    color: #BFBFBF !important;
}

.bg-grey {
    background-color: #BFBFBF !important;
}

.darkgrey {
    color: #A6A6A6 !important;
}

.bg-darkgrey {
    background-color: #A6A6A6 !important;
}

/*-- hover --*/

a:hover {
    text-shadow: 5px 5px 10px #A6A6A6;
}

/*-- badge --*/

a.collection-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

/*--- fonts ---*/

.signature-font {
    font-family: 'Dancing Script', sans-serif;
}

.heading-font {
    font-family: 'Exo', sans-serif;
}

/*--- Header ---*/

.logo-nav {
    max-width: 150px;
}

.transparent-header {
    background: rgba(0, 0, 0, 0.5);
}

.home-toggler-icon {
    font-size: 2rem;
}

.dropdown-menu-search {
    width: 100%;
}

.transparent-nav-item, 
.simple-nav-item {
    font-weight: 600;
    letter-spacing: 6px;
}

/*--- Footer ---*/

.footer-text {
    font-size: small;
}

/*--- Masthead section ---*/

.home-image-container {
    background: url(https://res.cloudinary.com/veraleitao/image/upload/v1610267977/culpa_rf1gvv.png) no-repeat top center fixed;
    background-size:cover;
    height:100vh;
}

.transparent-heading-item {
    font-weight: 600;
    letter-spacing: 3px;
}


/*--- products and product detail page ---*/

.products-container {
    background: url(/media/gallery_background.jpg) no-repeat top right fixed;
    background-size: cover;
    background-color:rgb(242, 242, 242);
	top: 0;
	left: 0;
	z-index: -1;
}

.title-container {
        padding-top: 25px;
}

/*--- sections ---*/

.page-section-heading {
    padding-bottom: 5rem;
}

/*--- about section ---*/

.profile-img {
    max-width: 25vw;
}

/* bootstrap template */
.page-section {
  padding: 6rem 0;
}

/* bootstrap template */
.page-section .page-section-heading {
  font-size: 2.25rem;
  line-height: 2rem;
}

/* bootstrap template */
@media (min-width: 992px) {
  .page-section .page-section-heading {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

.gallery {
    background: url(/media/gallery_background.jpg) no-repeat center center;
    background-size: cover;
    color: #555555;
    min-height: 800px;
}

.gallery-item {
    max-width: 300px;
    position: relative;
}

img.img-fluid {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.18);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

img.img-fluid:hover {
   box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


/* ---Media Queries including code from boutiqueAdo project --- */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    body {
        height:calc(100vh-116px);
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    

    body {
        height: calc(100vh - 116px);
    }

    .gallery-item {
        max-width: 300px;
    }
}
