<!-- Footer costumised bootstrap template-->
<div class="container-fluid p-0">
        <div class="row bg-darkgrey white py-4">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-center text-uppercase heading-font mb-4">Location</h4>
                <p class="lead mb-0">
                    Praceta Antero Quental, n2 r/c dt. Quinta do Anjo
                    <br />
                    2950-562 Quinta do Anjo, Portugal
                </p>
            </div>
            <!-- Footer Social Icons-->
            <div class="text-center col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase heading-font mb-4">Around the Web</h4>
                <ul>
                    <li>
                            <a class="mx-1" target="_blank" href="https://www.facebook.com/ateliersandraleitao/"><i
                        class="fab fa-fw fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a class="mx-1" target="_blank"
                    href="https://instagram.com/galeria_sandralopes?igshid=1aw7shb67dzxk"><i
                        class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a class="mx-1" target="_blank" href="#!"><i class="fab fa-fw fa-linkedin-in"></i></a>
                    </li>
                </ul>
            </div>
            <!-- Footer About Text-->
            <div class="display-3 col-lg-4">
                <h4 class="text-center text-uppercase heading-font mb-4">About Sandr@rt</h4>
                <p class="lead mb-0">
                    Sandr@rt is a trade name owned by Sandra Lopes Leitão, for more information
                    <a href="#">Contact Sandra</a>
                    .
                </p>
            </div>
        </div>
    </div>
<!-- Copyright Section-->
<div class="copyright py-4 text-center bg-black white">
    <div class="container"><small>Copyright © Sandrart 2021</small></div>
</div>