<!-- Footer -->
<div class="container-fluid p-0">
        <!--Footer visible in large display only -->
        <div class="row d-none d-lg-flex bg-darkgrey white py-4 px-5">

            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase heading-font mb-4">Contact</h4>
                <ul class="list-unstyled">
                   <li class="footer-text">
                        <a class="white mx-1 mb-1" target="_blank" href="https://www.google.com/maps/place/Praceta+Antero+de+Quental,+2950-562+Q.ta+do+Anjo,+Portugal/@38.573963,-8.9450969,17z/data=!4m2!3m1!1s0xd1946bd16f54d81:0x63af4c559f7c7722"><i
                        class="fas fa-map-marker fa-xs"></i> Praceta Antero Quental, n2 r/c dt.<br />
                         2950-562 Quinta do Anjo, Portugal</a>
                    </li>
                    <li class="footer-text">
                        <p class="white mx-1 mb-1">
                            <i class="fas fa-phone-alt fa-xs"></i> 555 444 555</p>
                    </li>
                    <li class="footer-text">
                        <p class="white mx-1">
                            <i class="fas fa-at fa-xs"></i> sandralleitao@hotmail.com</p>
                    </li>
                </ul>
            </div>
        
            <div class="text-center col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase heading-font mb-4">Around the Web</h4>
                
            </div>
            
            <div class="display-3 col-lg-4">
                <h4 class="text-uppercase heading-font mb-4">About Sandr@rt</h4>
                <p class="lead mb-0">
                    Sandr@rt is a trade name owned by Sandra Lopes Leitão<br>
                    for more information
                    <a class="white" href="#">Contact Sandra</a>
                    .
                </p>
            </div>
        </div>
        <!-- Footer Visible in all size screens -->
        <div class="row py-3 text-center bg-black white py-lg-2">
            <div class="col-12">
                <ul class="list-inline">
                   <li class="list-inline-item">
                        <a class="white mx-1" target="_blank" href="https://www.facebook.com/ateliersandraleitao/"><i
                        class="fab fa-fw fa-facebook-f fa-lg"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="mx-1 white" target="_blank"
                    href="https://instagram.com/galeria_sandralopes?igshid=1aw7shb67dzxk"><i
                        class="fab fa-instagram fa-lg"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="mx-1 white" target="_blank" href="#!"><i class="fab fa-fw fa-linkedin-in fa-lg"></i></a>
                    </li>
                </ul>
            </div>
            <div class=" col-12">
    <div class="container"><small>Copyright © Sandrart 2021</small></div>
</div>
        </div>
    </div>