
        "col-lg-4 py-1 py-lg-0 text-center text-lg-left">
                    <a href="" class="nav-link logo-navbar">
                        <img src="{% static 'images/logo_1.jpg' %}" alt="logo Sandrart">
                    </a>
                </div>
                <div class="col-4 offset-8 col-lg-3 offset-lg-5 ">
                    <ul class="list-inline list-unstyled txt-center">
                        <li class="list-inline-item black ">
                            <a class="nav-link" data-bs-toggle="modal" href="#foo">
                                <div class="text-center black">
                                    <i class="fas fa-search"></i>
                                </div>
                            </a>
                        </li>
                        <li class="list-inline-item dropdown">
                            <a class="black nav-link" type="text" id="dropdownMenu" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <div class="text-center">
                                    <div><i class="fas fa-user-alt"></i></div>
                                </div>
                            </a>
                            <ul class="dropdown-menu border-0" aria-labelledby="dropdownMenu">
                                {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                <li><a class="dropdown-item" href="">Item Management</a></li>
                                {% endif %}
                                <li><a class="dropdown-item" href="">My Profile</a></li>
                                <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                                {% else %}
                                <li><a class="dropdown-item" href="{% url 'account_signup' %}">Register</a></li>
                                <li><a class="dropdown-item" href="{% url 'account_login' %}">Login</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li class="list-inline-item black ">
                            <a class="{% if grand_total %}grey font-weight-bold{% else %}black{% endif %} nav-link" href="">
                                <div class="text-center">
                                    <div><i class="fas fa-shopping-bag fa-md"></i></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                -->
            </div>
            <!--logo -->
            <div class="row w-100">
                <nav class="navbar navbar-expand-lg w-100">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <ul class="navbar-nav">
                        {% include 'includes/mobile-top-header.html' %}
                        
                    </ul>
                </nav>
            </div>