<div class="row mt-3">
    <div class="col-12">
        <!-- Breadcrumbs to facilitate navigation - with links to previous pages -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}" class="breadcrumbs-text  darkgrey pl-2">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'view_bag' %}" class="breadcrumbs-text  darkgrey">Shopping bag</a></li>
            </ol>
        </nav>
    </div>
</div>
