<div class="masthead text-center">
    <div class="container-fluid home-image-container">  
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-6 py-5 bg-white">
                <!-- Masthead Heading-->
                <h1 class="masthead-heading display-1 text-uppercase grad-grey signature-font mb-3">Sandra</h1>
                <!-- Masthead Subheading-->
                <h3 class="masthead-subheading heading-font mb-0">Modern Impressionist Artist</h3>
            </div>
        </div>
    </div>
</div>
